## Pandas Veri Analizi - U.S Major League Soccer Salaries Veri Analizi

##### Pandas'ı Dahil Edin

In [1]:
import numpy as np
import pandas as pd

##### VeriSetini Okuyun

In [3]:
soccer = pd.read_csv("input/mls-salaries-2017.csv")

In [4]:
soccer

,club,last_name,first_name,position,base_salary,guaranteed_compensation
0,ATL,Almiron,Miguel,M,1912500.00,2297000.00
1,ATL,Ambrose,Mikey,D,65625.00,65625.00
2,ATL,Asad,Yamil,M,150000.00,150000.00
3,ATL,Bloom,Mark,D,99225.00,106573.89
4,ATL,Carleton,Andrew,F,65000.00,77400.00
5,ATL,Carmona,Carlos,M,675000.00,725000.00
6,ATL,Garza,Greg,D,150000.00,150000.00
7,ATL,Gonzalez Pirez,Leandro,D,250008.00,285008.00
8,ATL,Goslin,Chris,M,70000.00,74000.00
9,ATL,Gressel,Julian,M,75000.00,93750.00
10,ATL,Heath,Harrison,M,66150.00,66150.00
11,ATL,Jones,Kenwyne,F,390000.00,413333.33
12,ATL,Kann,Alec,GK,77004.00,77004.00
13,ATL,Kratz,Kevin,M,150000.00,164250.00
14,ATL,Larentowicz,Jeff,M,175008.00,175008.00
15,ATL,Loyd,Zach,D,85008.00,85008.00
16,ATL,Martinez,Josef,F,924000.00,1041310.00
17,ATL,McCann,Chris,M,540000.00,568000.00
18,ATL,Mears,Tyrone,D,183756.00,183756.00
19,ATL,Oblitey Otoo,Jeffrey,M-F,53000.00,53000.00
20,ATL,Parkhurst,Michael,D,325008.00,325008.00
21,ATL,Peterson,Jacob,F,165300.00,165300.00
22,ATL,Reynish,Kyle,GK,65004.00,65004.00
23,ATL,Robinson,Miles,D,125000.04,195000.04
24,ATL,Rochez,Bryan,F,200000.00,279500.00
25,ATL,Tambakis,Alexander,GK,65004.00,65004.00
26,ATL,Vazquez,Brandon,F,100008.00,120008.00
27,ATL,Villalba,Hector,F,663000.00,770750.00
28,ATL,Walkes,Anton,D,53004.00,53004.00
29,ATL,Wheeler-Omiunu,Andrew,M,53004.00,53004.00
...,...,...,...,...,...,...
586,VAN,de Jong,Marcel,D-M,140000.00,140000.00
587,VAN,Dean,Christian,D,121000.00,202000.00
588,VAN,Edgar,David,D,175000.00,183833.33
589,VAN,Flores,Deybi,M,66000.00,71885.00
590,VAN,Froese,Kianz,M,69300.00,73800.00
591,VAN,Greig,Kyle,F,65004.00,66849.00
592,VAN,Harvey,Jordan,D,180000.00,180000.00
593,VAN,Hurtado,Erik,F/M,125000.00,131250.00
594,VAN,Jacobson,Andrew,M,150000.00,175000.00
595,VAN,Laba,Matias,M,725000.00,885500.00
596,VAN,Levis,Brett,D,65000.00,67500.00
597,VAN,McKendry,Ben,M,65000.00,65000.00
598,VAN,Mezquida,Nicolas,M-F,120000.00,120000.00
599,VAN,Montero,Fredy,F,1400000.04,1800000.04
600,VAN,Nerwinski,Jake,D,65004.00,65004.00
601,VAN,Ousted,David,GK,360000.00,378933.33
602,VAN,Parker,Tim,D,80850.00,99600.00
603,VAN,Reyna,Yordy,M-F,440000.04,533700.04
604,VAN,Richey,Spencer,GK,65004.00,65004.00
605,VAN,Rosales,Mauro,M,65004.00,65004.00
606,VAN,Seiler,Cole,D,54075.00,54075.00
607,VAN,Shea,Brek,M-D,625000.00,670000.00
608,VAN,Tchani,Tony,M,275000.00,308333.33
609,VAN,Techera,Cristian,M,352000.00,377000.00
610,VAN,Teibert,Russell,M,126500.00,194000.00
611,VAN,Tornaghi,Paolo,GK,80000.00,80000.00
612,VAN,Waston,Kendall,D,350000.00,368125.00
613,VAN,Williams,Sheanon,D,175000.00,184000.00
614,NaN,Babouli,Mo,F,54075.00,54075.00
615,NaN,Ramajo,David Mateos,D,420000.00,453333.33

##### İlk 10 Veriyi Okuyun

In [5]:
soccer.head(n = 10)

,club,last_name,first_name,position,base_salary,guaranteed_compensation
0,ATL,Almiron,Miguel,M,1912500.0,2297000.00
1,ATL,Ambrose,Mikey,D,65625.0,65625.00
2,ATL,Asad,Yamil,M,150000.0,150000.00
3,ATL,Bloom,Mark,D,99225.0,106573.89
4,ATL,Carleton,Andrew,F,65000.0,77400.00
5,ATL,Carmona,Carlos,M,675000.0,725000.00
6,ATL,Garza,Greg,D,150000.0,150000.00
7,ATL,Gonzalez Pirez,Leandro,D,250008.0,285008.00
8,ATL,Goslin,Chris,M,70000.0,74000.00
9,ATL,Gressel,Julian,M,75000.0,93750.00

##### Kaç tane Veri Olduğunu Bulun(Satır Sayısı)

In [7]:
len(soccer.index)

616

##### Tüm Maaşların Ortalaması Bulun.

In [9]:
soccer["base_salary"].mean()

296977.73686688306

##### En yüksek maaşı bulun

In [14]:
soccer["base_salary"].max()

6660000.0

##### En yüksek tazminata sahip futbolcunun soyadını bulun

In [29]:
soccer[soccer["guaranteed_compensation"].max() == soccer["guaranteed_compensation"]]

    club last_name first_name position  base_salary  guaranteed_compensation
401  ORL      Kaka        NaN        M    6660000.0                7167500.0

In [30]:
soccer[soccer["guaranteed_compensation"].max() == soccer["guaranteed_compensation"]]["last_name"]

401    Kaka
Name: last_name, dtype: object

##### "Gonzalez Pirez" isimli futbolcunun oynadığı mevkiyi bulun.

In [31]:
soccer[soccer["last_name"] == "Gonzalez Pirez"]["position"].iloc[0]

'D'

##### Mevkilere göre futbolcuları gruplayarak mevkilerde ortalama maaşları bulun

In [33]:
soccer.groupby("position").mean()

            base_salary  guaranteed_compensation
position
D         166574.093784            179533.184811
D-M       134930.000000            154328.927857
F         489588.598349            557437.206514
F-M       335834.000000            367920.805000
F/M       125000.000000            131250.000000
GK        146472.515538            158665.155692
M         376106.218632            406781.788396
M-D       219032.250000            230282.250000
M-F       212975.604211            231104.551579
M/F       550000.000000            565000.000000

##### Verisetinde kaç farklı mevki olduğunu hesaplayın.

In [35]:
soccer["position"].nunique()

10

##### Her mevkide kaç oyuncunun olduğunu hesaplayın

In [36]:
soccer["position"].value_counts()

M      212
D      185
F      109
GK      65
M-F     19
D-M     14
F-M      6
M-D      4
F/M      1
M/F      1
Name: position, dtype: int64

##### Her takımda kaç kişinin oynadığını hesaplayın.

In [39]:
soccer["club"].value_counts()

VAN      32
PHI      31
ATL      31
CLB      30
ORL      30
DAL      29
SJ       29
NYCFC    28
HOU      28
NYRB     28
DC       27
MTL      27
POR      27
MNUFC    27
TOR      27
RSL      27
LA       27
CHI      27
COL      26
KC       26
SEA      25
NE       23
LAFC      2
Name: club, dtype: int64

##### Soyadlarının içinde "son" geçen futbolcuları bulun

In [43]:
def re_find(last_name):
    if "son" in last_name.lower():
        return True
    return False

soccer[soccer["last_name"].apply(re_find)]

,club,last_name,first_name,position,base_salary,guaranteed_compensation
21,ATL,Peterson,Jacob,F,165300.00,165300.00
23,ATL,Robinson,Miles,D,125000.04,195000.04
45,CHI,Johnson,Daniel,M,65004.00,65004.00
48,CHI,Lampson,Matt,GK,76000.00,81375.00
85,CLB,Swanson,Ben,M,85000.00,105416.67
163,DC,Robinson,Jalen,D,69996.00,69996.00
233,LA,Jamieson,Bradford,F,66150.00,66150.00
265,MNUFC,Ibson,NaN,M,200004.00,210337.40
276,MNUFC,Thiesson,Jerome,D,171000.00,210166.67
295,MTL,Jackson-Hamel,Anthony,F,66150.00,66150.00
327,NE,Watson,Je-Vaughn,D-M,150000.00,155666.67
338,NYCFC,Harrison,Jack,M,130000.00,165500.00
341,NYCFC,Johnson,Sean,GK,220008.00,220008.00
400,ORL,Johnson,Will,M,414000.00,450000.00
442,PHI,Simpson,Jay,F,465000.00,508333.33
459,POR,Gleeson,Jake,GK,110000.00,115166.67
522,SEA,Svensson,Gustav,M,170000.04,170000.04
550,SJ,Thompson,Tommy,M,150000.00,155000.00
594,VAN,Jacobson,Andrew,M,150000.00,175000.00