In [61]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [62]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [63]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [65]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [66]:
hierarchy = list(zip(outerIndex,innerIndex))
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [67]:
hierarchy

MultiIndex(levels=[['Group1', 'Group2', 'Group3'], ['Index1', 'Index2', 'Index3']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [69]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["A","B","C"])

In [70]:
df

                      A         B         C
Group1 Index1  0.465967 -1.193266  0.225971
       Index2  0.293538 -0.120197  0.887344
       Index3 -0.294894  0.369787 -0.063374
Group2 Index1 -0.304885 -0.853484  0.573687
       Index2 -0.378076 -0.270671 -1.507259
       Index3 -0.569179  0.847607 -0.178256
Group3 Index1 -0.430960 -1.254472  0.795992
       Index2  0.201698 -1.467299 -0.628827
       Index3 -0.849657 -0.707355  0.861248

In [71]:
df["A"]

Group1  Index1    0.465967
        Index2    0.293538
        Index3   -0.294894
Group2  Index1   -0.304885
        Index2   -0.378076
        Index3   -0.569179
Group3  Index1   -0.430960
        Index2    0.201698
        Index3   -0.849657
Name: A, dtype: float64

In [73]:
df.loc["Group1"]

               A         B         C
Index1  0.465967 -1.193266  0.225971
Index2  0.293538 -0.120197  0.887344
Index3 -0.294894  0.369787 -0.063374

In [74]:
df.loc["Group2"]

               A         B         C
Index1 -0.304885 -0.853484  0.573687
Index2 -0.378076 -0.270671 -1.507259
Index3 -0.569179  0.847607 -0.178256

In [75]:
df.loc[["Group1","Group2"]]

                      A         B         C
Group1 Index1  0.465967 -1.193266  0.225971
       Index2  0.293538 -0.120197  0.887344
       Index3 -0.294894  0.369787 -0.063374
Group2 Index1 -0.304885 -0.853484  0.573687
       Index2 -0.378076 -0.270671 -1.507259
       Index3 -0.569179  0.847607 -0.178256

In [76]:
df.loc["Group1"].loc["Index1"]

A    0.465967
B   -1.193266
C    0.225971
Name: Index1, dtype: float64

In [77]:
df.index.names = ["Groups","Indexes"]

In [78]:
df

                       A         B         C
Groups Indexes
Group1 Index1   0.465967 -1.193266  0.225971
       Index2   0.293538 -0.120197  0.887344
       Index3  -0.294894  0.369787 -0.063374
Group2 Index1  -0.304885 -0.853484  0.573687
       Index2  -0.378076 -0.270671 -1.507259
       Index3  -0.569179  0.847607 -0.178256
Group3 Index1  -0.430960 -1.254472  0.795992
       Index2   0.201698 -1.467299 -0.628827
       Index3  -0.849657 -0.707355  0.861248

In [80]:
df.loc["Group1"].loc["Index1"]["A"]

0.46596744464801376

#### xs() ile Sorgulama

In [94]:
df.xs("Group1")

                A         B         C
Indexes
Index1   0.465967 -1.193266  0.225971
Index2   0.293538 -0.120197  0.887344
Index3  -0.294894  0.369787 -0.063374

In [96]:
df.xs("Group1").xs("Index1")

A    0.465967
B   -1.193266
C    0.225971
Name: Index1, dtype: float64

In [97]:
df.xs("Group1").xs("Index1").xs("A")

0.46596744464801376

In [101]:
df.xs("Index1",level = "Indexes")

               A         B         C
Groups
Group1  0.465967 -1.193266  0.225971
Group2 -0.304885 -0.853484  0.573687
Group3 -0.430960 -1.254472  0.795992